<h3>{{question.content}} --by {{question.author}}</h3>
<p>{{question.notes}}</p>
<hr>
<h2>Answers</h2>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>
