{{question-detail question=model.questions}}
{{update-question question=model.questions update="update"}}
<h2> Answers </h2>

<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.content}} - by {{answer.author}}</li>
  {{/each}}
</ul>
