<h4>Update this question</h4>
{{update-question question=model.questions update="update"}}

<hr>
{{question-detail question=model.questions}}

{{new-answer saveAnswer="saveAnswer" question=model.questions}}
